%section#seoul-safari-six-hours-in-seoul.article
	.cover
		%hgroup#article-title.wrapper
			%h1	Seoul<span class="safari">Safari</span><span class="six-hours">Six Hours in Seoul</span>
			%h2 Health and wellness aficionados’ short and sweet Seoul affair.
	%article
		#intro.bleed
			.wrapper
				%h2.prologue Prologue
				%p
					By day, Yokho and Joe maintain their professions as an experience designer and chiropractor, respectively. By night, however, they moonlight as the lifestyle coaches behind
					= succeed "," do
						%a{:href => "http://livewellusa.com"} Live Well USA
					a website dedicated to promoting healthy and wellness via informative articles with kicky titles such as “Get Off the Iceberg” and “Start Moving, or Start Dying.” Joe and Yokho, originally from Seattle, took a well-deserved holiday to tour various parts of Asia recently, and an extended layover forced them to cool their heels in Seoul. Our mission: craft a tightly scheduled itinerary for the couple; they only have six hours to explore our city for the first time. Putting a wrench into the whole operation? Yokho’s MSG allergy, which found us crossing many local dining options off the list. But this is Seoul Safari—we’re always up for a challenge!
		.story
			.main.wrapper
				%blockquote Instead of a whirlwind trip to hit up downtown hotspots like Garosu-gil or Cheongdam-dong, we recommend sticking to the uptown equivalent, Samcheong-dong, for shopping and light fare.
		.activity.no-time
			.border.wrapper
				%span
			.activity-time.wrapper
				%h3
			.activity-info.wrapper
				%h4 Before you arrive
				%p
					Although weekend traffic can be unforgiving at times, we recommend cabbing around town to maximize the most of your time in Seoul (this CNNGo
					%a{:href => "http://www.cnngo.com/seoul/life/seoul-taxi-guide-783378"} taxi guide
					is helpful). Korean cabs are relatively affordable (just avoid the black “premium” cabs). The only problem with taxis is that most drivers don’t speak English. Fortunately, there’s an app for that. Before you arrive, download the
					%a{:href => "http://itunes.apple.com/us/app/seoul-taxi-guide/id454324478?mt=8"} Seoul Taxi Guide
					on your iOS device. Featuring over 3,000 relevant and popular venues and destinations, this app not only lists and maps out information, it features a handy “taxi card” that tells the driver where you need to go in Korean. If that doesn’t work, provide the street address of your destination. All taxis in Seoul have GPS navigation.							
		.activity
			.border.wrapper
				%span
			.activity-time.wrapper
				%h3 07.25
			.activity-info.wrapper
				%h4 Exchange currency at ICN once you land
				%p You won’t get the best rates at the airport, but you’ll want to have some Korean won in your pocket for petty purchases, including those from mom-and-pop vendors who prefer cash. Some vendors have a “cash rate,” which may be about 1,000 won cheaper than paying by card (essentially charging the transaction surcharge to the customer).
				%p Much of what Seoul has to offer is free or cheap, especially when it comes to sightseeing and local food (e.g., admission to Seoul’s palaces is only 3,000 won). The most expensive item on your safari will likely be your organic meal, followed by café drinks (don’t be surprised to pay up to 5,000 won for a cup of Americano). A standard, simple Korean meal costs 5,000 to 10,000 per person. However, ethnic dishes such as pasta dinners might run 12,000 to 20,000, depending on the neighborhood.
				%p As for taxi rates, it normally doesn’t take more than 20,000 won to go from one side of Seoul to another. None of the cab rides in your safari should exceed 10,000 won (unless you encounter extreme traffic). Basic fare starts at 2,400 won and credit cards are accepted, although the driver may mutter insults under his breath if you pull out the card for a short ride.
				%p So with all that said, 150,000 won should be able to cover the basic expenses for a short tour of Seoul.
				%blockquote “We may have our luggage with us. We’re coming from Thailand, hopefully with lots of souvenirs, so we don’t want to lug it around.”
				%h4 Leave your baggage behind
				%p You’ll be coming to Korea with a bagful of souvenirs so you’ll want to utilize the storage lockers at ICN to enjoy your day in Seoul, baggage-free. Transit passengers are welcome to store their bags at no cost for up to 24 hours at the storage lockers on the 3rd floor, near Gate 25 (East) and Gate 29 (West).
		.activity
			.border.wrapper
				%span		
			.activity-time.wrapper
				%h3 08.30
			.activity-info.wrapper
				%h4 Zip into Seoul Station on the Airport Express
				%p 
					There’s always weekend traffic in Seoul, and this is especially true in the month of November as Seoulites head to the countryside to enjoy the last stretch of fall foliage. The best way to maximize your time in the city is by taking the newly-constructed Airport Railroad (AREX), a speedy rail service on the B1 floor of the airport’s Transportation Center. The Express train that runs every 30 minutes will bring you to the heart of Seoul (Seoul Station) in 43 minutes for 13,300 won (alternately, regular Commuter trains take only 10 more minutes but cost a mere 3,700 won). See the timetable and more information
					%a{:href => "http://english.arex.or.kr/jsp/eng/index.jsp"} here
					and an overview at the Incheon Airport
					= succeed "." do
						%a{:href => "http://www.airport.kr/iiacms/pageWork.iia?_scode=C1203020000&fake=1237351365898"} website
		.activity
			.border.wrapper
				%span		
			.activity-time.wrapper
				%h3	09.30
			.activity-info.wrapper					
				%h4 Emerging winter street food				
				%p 
					Once you’re in Seoul, you may find it’s not easy to find many local breakfast options at this hour—especially healthy ones. Your best bet for an additive-free breakfast is either at a western-style brunch restaurant or at a cafe-bakery such as Paris Baguette. But in between landmarks and pit stops, keep your eyes peeled for some of our favorite seasonal treats. One of the best things about winter in Seoul is the comfort food like
					%em.inline gun-goguma
					(wood-fired sweet potatoes),
					%em.inline ho-ddeok
					(sweet flatcakes), egg bread, and the red bean-filled rice bread,
					= succeed "." do
						%em.inline ho-bbang
		.activity
			.border.wrapper
				%span		
			.activity-time.wrapper
				%h3	10.00
			.activity-info.wrapper					
				%h4 Choose your own palatial adventure				
				%img{:src => "images/seoul-safari_03.jpg"}
				%blockquote “We will be tired with lack of sleep, so something that will be fast-paced and keeps us going would be great!”
				%p
					Most first-time visitors to Seoul get the royal treatment at
					= succeed "," do
						%a{:href => "http://www.royalpalace.go.kr/html/eng/main/main.jsp"} Gyeongbok Palace
					the largest of the Five Grand Palaces of the Joseon Dynasty, but we also love the smaller and perhaps more alluring
					= succeed "." do
						%a{:href => "http://eng.cdg.go.kr/main/main.htm"} Changdeokgung
					If you decide on Changdeok Palace, don’t miss the lush landscape and lotus pond located behind the palace at the
					= succeed "," do
						%em.inline Biwon
					or Secret Garden. It’s criss-crossed with long walking paths perfect for both meandering and brisk walks.
		.activity
			.border.wrapper
				%span
			.activity-time.wrapper
				%h3	11.30
			.activity-info.wrapper					
				%h4 Samcheong-dong fusion chic
				%p Six hours doesn’t leave you much time to explore the area south of the river known as Gangnam. Instead of a whirlwind trip to hit up downtown hotspots like Garosu-gil or Cheongdam-dong, we recommend sticking to the uptown equivalent, Samcheong-dong, for shopping and light fare. The main Samcheong-dong road is an eclectic mix of old hanok architecture, modern architecture, galleries and street kiosks peddling waffles and espresso drinks. Unlike its southern counterparts, Samcheong-dong sits on a limited development zone that bars the construction of buildings exceeding 20 meters in height. Many assume that’s because the area is adjacent to the presidential “Blue House,” but the restriction was actually implemented in the early 1970s to keep high-rise buildings from obstructing the view of the majestic Bugaksan (북악산, or Bugak Mountain), which borders much of northern Seoul.
				%h4
					Jigu-reul Geot-neun Saram-deul
					%span (지구를 걷는 사람들, English name: Cafe Planet Walker)
				%p Depending on how much you’ve walked or eaten so far in your day, this may be a good time for tea. Seoul’s independent cafe culture is booming, and the nostalgic streets of Samcheong-dong are no exception. Perhaps what makes this café special is that it specializes in organic traditional Korean teas and cookies. Don’t ask for coffee if you need a pick-me-up—it’s not even on the menu.
				%h4.label
					Contact
				%p
					%em
						57 Palpan-dong, Jongno-gu |
						%a{:href => "http://map.naver.com/local/siteview.nhn?code=13496689"} Map
						%br/
						070-4153-7720
		.activity
			.border.wrapper
				%span
			.activity-time.wrapper
				%h3	12.30
			.activity-info.wrapper					
				%h4 Insa-dong for last-minute souvenir shopping 
				%p Most people say a trip to Seoul isn’t complete without a quick stroll down Insa-dong, a long traditional boulevard filled with Korean tea houses, restaurants, galleries and souvenir shops. While that might sound appealing, keep in mind the area is quite touristy and busy—especially on weekends. We’ve made Insa-dong the last priority on your list. After all, by now, you will already have traversed the streets of Samcheong-dong, a traditional experience that’s preferred by locals.
				%span.label Tip
				%p
					%em Instead of walking in through the main entrance where the tourist information booth is located, enter through another opening immediately off Anguk Station, exit 6 (it’s so narrow, it looks more like a gap than a road). Take this labyrinth filled with tiny restaurants and tea shops into the heart of Insa-dong.
		.activity
			.border.wrapper
				%span
			.activity-time.wrapper
				%h3 13.30
			.activity-info.wrapper				
				%h4 Organic power lunch
				%img{:src => "images/seoul-safari_02.jpg"}				
				%p
					Seek out organic restaurants like
					%em.inline Munteok Eop-neun Bapjip
					(문턱없는 밥집), which loosely translates to “the house without a doorstep.” It’s located near the vibrant Hongdae area and is a big proponent of the “clean bowl” movement, which encourages diners to finish every single grain of rice. The DIY vegetarian rice wraps that come with a bowl of fermented mushroom soy paste may seem a bit spicy, but with steaming white rice and a bottomless side of leafy greens, it may be just the meal you’re looking for after a string of processed on-flight meals. After the meal, duck into the adjacent sister store,
					%em.inline Gibun Joeun Gagae
					(기분 좋은 가개, or literally, “feel-good store”) where you can find used clothes and other bric-a-brac at feel-good prices.
				%span.label Contact
				%p
					%em
						481 Seogyo-dong, Mapo-gu |
						%a{:href => "http://map.naver.com/local/siteview.nhn?code=13562479"} Map
						%br/
						02-324-4190
				%h4
					When it rains, we pour: makgeolli rice wine
					%span Alternate Option (due to a chance of rain)
				%p
					The recent economic downturn has helped this traditional (and affordable!) farmer’s drink boom into a modern experience enjoyed by Koreans of all ages and socioeconomic backgrounds. Some of the most popular watering holes include the second branch of Weolhyang, which boasts organic makgeolli and a large sign at the entrance proudly spells out 낯술환영—”daytime drinking welcome”—so no one will judge you. Don’t forget to order the standard companion side of
					%em.inline jeon
					(savory scallion-embedded pancakes) or kimchi tofu. Just don’t overindulge in the sweet rice wine. You don’t want to miss your flight!
				%span.label Contact
				%p
					%em
						Weolhyang 2 (월향 2호점)
						%br/
						352-23 Seogyo-dong, Mapo-gu |
						%a{:href => "http://map.naver.com/local/siteview.nhn?code=19582148"} Map
						%br/
						02-336-9202
		.activity
			.border.wrapper
				%span
			.activity-time.wrapper
				%h3 15.00
			.activity-info.wrapper				
				%h4 From Hongdae Station, take AREX back to ICN			
				%p Hop in a cab for a short ride to Hongdae Station, exit 4, to catch the rail back to the airport. Give yourself an hour to arrive at the airport. If you want to rush, you can leave as late as 3:30 p.m., but arriving early will give you plenty of time to check in, take much-needed showers (details below) and unwind for a change.
		.activity
			.border.wrapper
				%span
			.activity-time.wrapper
				%h3 16.30
			.activity-info.wrapper
				%h4 Freshen up for the long haul home
				%p
					From spas to movie rooms, there are
					%a{:href => "http://www.airport.kr/iiacms/pageWork.iia?_scode=C1202020400&fake=1237265756305"} multiple amenities
					catering to the transit passengers at Incheon International Airport, but our favorite?
					= succeed "." do
						%a{:href => "http://www.wellss.com/new/wellss_service_shower.htm."} Complimentary showers
					You’ll have time to kill after checking in early, so take this time to freshen up in these spacious, marble-lined rooms equipped with a sink, toilet and small vanity space (no wonder they’re so popular among Korean couples en route to their honeymoons). Before the long haul home, step into the separated walk-in shower and relax under the sunflower shower head. Remember to pack shower supplies in your carry-on; face towels are complimentary while bath towel rentals and a shower kit (shampoo, conditioner, soap and razor) can be purchased at 4 dollars each. Open 7 a.m. to around 9 p.m. daily. For a more comprehensive list of services, indulge yourself at the
					= succeed "," do
						%a{:href => "http://english.visitkorea.or.kr/enu/FU/FU_EN_15.jsp?cid=637127"} Hub Lounge
					where a premium lounge experience can be purchased for $35 USD. See an extensive list of airport goodies
					= succeed "." do
						%a{:href => "http://visitkorea.or.kr/enu/SI/SI_EN_3_6.jsp?cid=258029"} here
				%p Have a safe flight home!
		.bottom-matter
			%p.notable.wrapper
				This Seoul Safari is current as of early November 2011. Inline photos courtesy of Yohko Kelley.
			%h4.label Further Reading
			%p#further-reading
				%a{:href => "http://seoulistmag.com/articles/read/seoul_safari_helen_from_new_york"} Seoul Safari: Helen from New York
				on SeoulistMag.com